{% extends "Emails/email_base.html.twig" %}

{% block body %}
    <p>Bonjour</p><br>
    <p>Vous avez un nouveau contact<strong> {{ prenom }}</strong></p><br>
    <p>Prénom et nom: <strong>{{ prenom }} {{ nom }}</strong></p><br>
    <p>Email : {{ email }}</p>
    <p>Telephone : {{ telephone }}</p>
    <p>Message : {{ message }}</p>

    <p>-----------------------</p>
    <p>L'équipe <span style="color: #DC0000;"><b>Aluinox</b></span>.</p>

{% endblock %}