<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Alu Inox {% endblock %}</title>
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet">

        <link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet">

        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <script src="{{ asset('assets/js/modernizr.custom.js') }}"></script>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/alu.png') }}" />
    </head>
    <body>
        <!-- Menu -->
        <nav class="menu" id="theMenu">
            <div class="menu-wrap">

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <h1 class="logo"><a href="#">{{ app.user.username }}</a></h1>
                    <i class="fa fa-arrow-right menu-close"></i>
                    <a href="{{ path('homepage') }}">Alu Inox</a>
                    <a href="{{ path('portfolio_index') }}">Portfolio</a>
                    <a href="{{ path('services_index') }}">Nos Services</a>
                    <a href="{{ path('chantier_index') }}">Nos chantier</a>
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <i class="fa fa-arrow-right menu-close"></i>
                    <a href="{{ path('homepage') }}">Alu Inox</a>
                    <a href="{{ path('portfolio_index') }}">Portfolio</a>
                    <a href="{{ path('contact_new') }}">Contact</a>
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}

                <a href="{{ path('homepage') }}">
                    <img src="{{ asset('assets/img/alu.png') }}" alt="alu inox">
                </a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-envelope"></i></a>
            </div>

            <!-- Menu button -->
            <div id="menuToggle"><i class="fa fa-bars"></i></div>
        </nav>



        {% block body %}

        {% endblock %}

        <!-- CONTACT FOOTER --->
        <br>
        <div id="cf">
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div id="mapwrap">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3858.9479525056176!2d-17.452054550139565!3d14.715534678145708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec172c5d5f8fc75%3A0xa703eaca759459bb!2sgarage+b%C3%A8ne+tally!5e0!3m2!1sfr!2ssn!4v1516191717232" height="400" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        </div>
                    </div><!--col-lg-8-->
                    <div class="col-lg-4">
                        <h4>ADRESSE<br/></h4>
                        <br>
                        <p>
                            2745,<br/>
                            ouagou niayes1 .
                        </p>
                        <p>
                            Tél: +221 775061079<br/>
                            Email: <a href="mailto:#">ndao144@hotmail.com</a>
                        </p>
                        <p>
                            Dakar – SENEGAL <br> Ninea : 0059115091
                        </p>
                        <p>Contactez nous maintenant <a href="{{ path('contact_new') }}">Contact</a></p>
                        <img src="{{ asset('assets/img/alu.png') }}" alt="Alu inox">
                    </div><!--col-lg-4-->
                </div><!-- row -->
            </div><!-- container -->
        </div><!-- Contact Footer -->

        <!-- Bootstrap core JavaScript
   ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ asset('assets/js/jquery-1.10.2.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/main.js') }}"></script>
        <script src="{{ asset('assets/js/masonry.pkgd.min.js') }}"></script>
        <script src="{{ asset('assets/js/imagesloaded.js') }}"></script>
        <script src="{{ asset('assets/js/classie.js') }}"></script>
        <script src="{{ asset('assets/js/AnimOnScroll.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
