{% extends 'base.html.twig' %}

{% block body %}

    <!-- MAIN PROJECT SECTION -->
    <div id="sp">
        <div class="container">
            <div class="row">
                <div class="col-lg-pull-3 pull-left">
                    <a href="{{ path('homepage') }}">
                        <img class="img-responsive" src="{{ asset('assets/img/alu.png') }}" alt="Alu Inox">
                    </a>
                </div>
                <div class="col-lg-pull-3 pull-right">
                    <h2>Tout les chantiers</h2>
                </div>
            </div><!-- row -->
        </div><!-- /container -->
    </div><!-- /portrwrap -->
    <br>
    <div class="container">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="breadcrumbs-list"><a href="{{ path('chantier_index') }}">Chantiers</a></li>
                <li class="breadcrumbs-list">Tout les chantiers</li>
            </ol>
        </div>
        <!-- BLOG POSTS -->
        <div class="container">
            <div class="row mt">
                {% if chantiers|length <= 0 %}
                <h2 align="center">Pas encore de chantier créer</h2>
                {% endif %}
                {% for chantier in chantiers %}

                    <a href="{{ path('chantier_show', { 'id': chantier.id }) }}">
                        <div class="col-lg-4">
                            {% if chantier.image%}
                            <img class="img-responsive" src="{{ asset('/telecharger/images/'~chantier.image) }}" alt="Alu inox">
                            {% else %}
                            <img class="img-responsive" src="{{ asset('../../telecharger/images/construction.jpg') }}"  alt="Alu inox">
                            {% endif %}
                            <h3><a href="{{ path('chantier_show', { 'id': chantier.id }) }}">{{ chantier.name }}</a></h3>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <strong>Lieu:</strong> {{ chantier.lieu }}<br/>
                                </p>
                        </div>
                    </a>
                {% endfor %}

            </div><!-- row -->
        </div><!-- container -->
</div>
{% endblock %}
