{% extends 'base.html.twig' %}

{% block body %}
    <!-- MAIN IMAGE SECTION -->
    <div id="headerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="head">
                        <h1>Alu Inox</h1>
                        <h2>Concept création</h2>
                        <div class="spacer"></div>
                        <a href="{{ path('portfolio_index') }}" class="btn btn-primary">
                            <i style="font-size: 17px;" class="fa fa-angle-double-left"></i><strong>NOS REALISATIONS</strong> <i class="fa fa-angle-double-right" style="font-size: 17px;"></i>
                        </a>
                    </div>
                </div>
            </div><!-- row -->
        </div><!-- /container -->
    </div><!-- /headerwrap -->

    <!-- WELCOME SECTION -->
    <div class="container">
        <div class="row mt">
            <div class="col-lg-9">
                <h1>Alu Inox, découvrez toutes les qualités de la menuiserie en aluminium</h1>
                <p style="text-align: justify">
                    Avec l'aluminium, composez votre fenêtre à la carte en choisissant judicieusement
                    sa forme, son mode d'ouverture, sa finition et ses accessoires. La combinaison
                    judicieuse de ces éléments permet d'intégrer parfaitement la fenêtre au bâti et
                    garantit un confort en toute saison. La fenêtre aluminium optimise isolation
                    thermique et apports gratuits de chaleur et de lumière.
                </p>
            </div>
            <div class="col-lg-3">
                <p class="pull-right">
                    <h1>Consultez nos réalisations !!!</h1><br>
                    <br><a href="{{ path('portfolio_index') }}" class="btn btn-green large"><i class="fa fa-hand-o-right"></i> Nos réalisations</a></p>
            </div>
        </div><!-- /row -->
    </div><!-- /.container -->
{% endblock %}

{% block stylesheets %}
{% endblock %}
