{% extends 'base.html.twig' %}

{% block body %}
    <div id="sp">
        <div class="container">
            <div class="row">
                <h2>Nouvel Service</h2>
            </div><!-- row -->
        </div><!-- /container -->
    </div><!-- /portrwrap -->
    <br>
    <div class="container">
        <div id="chartwrap">
            <div class="container">
                <div class="row mt">
                    {% if error %}
                    <div class="col-lg-4 col-lg-offset-4">
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-lg-12 chart">
                        <div class="form-group">
                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                            <div class="">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        {{ form_widget(form.natureCeintrage, {'attr': {'class': 'form-control','placeholder':'Nature du ceintrage'}}) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_widget(form.client, {'attr': {'class': 'form-control','placeholder':'Nom et prénom du client'}}) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6">
                                        {{ form_widget(form.telephone, {'attr': {'class': 'form-control','placeholder':'Numero de téléphone'}}) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_widget(form.montant, {'attr': {'class': 'form-control','placeholder':'Montant'}}) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6">
                                        {{ form_widget(form.montantAvance, {'attr': {'class': 'form-control','placeholder':'Montant Avance'}}) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_widget(form.dateCreation, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-lg-offset-3 col-lg-6">
                                    <a class="btn btn-default" href="{{ path('services_index') }}"><i class="fa fa-angle-left" aria-hidden="true"></i> Retour</a>
                                    <button type="submit" class="btn btn-primary">Enregistrer <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
