{% extends 'base.html.twig' %}

{% block body %}
    <h1>Service</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Natureceintrage</th>
                <td>{{ service.natureCeintrage }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ service.client }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ service.telephone }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ service.montant }}</td>
            </tr>
            <tr>
                <th>Montantavance</th>
                <td>{{ service.montantAvance }}</td>
            </tr>
            <tr>
                <th>Montantrestant</th>
                <td>{{ service.montantRestant }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{% if service.dateCreation %}{{ service.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('services_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('services_edit', { 'id': service.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
