{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('assets/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.css') }}">
    <!-- MAIN PROJECT SECTION -->
    <div id="sp">
        <div class="container">
            <div class="row">
                <div class="col-lg-pull-3 pull-left">
                    <a href="{{ path('homepage') }}">
                        <img class="img-responsive" src="{{ asset('assets/img/alu.png') }}" alt="Alu Inox">
                    </a>
                </div>
                <div class="col-lg-pull-3 pull-right">
                    <h2>Ajout d'accompte</h2>
                </div>
            </div><!-- row -->
        </div><!-- /container -->
    </div><!-- /portrwrap -->
    <div class="container">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="breadcrumbs-list"><a href="{{ path('chantier_index') }}">Chantiers</a></li>
                <li class="breadcrumbs-list"><a href="{{ path('chantier_show',{'id':id}) }}">{{ name }}</a></li>
                <li class="breadcrumbs-list">Nouvelle acompte</li>
            </ol>
        </div><!-- col-lg-12 -->
    </div>
    <div class="container">
        <!-- CHART IMAGE SECTION -->
        <div id="chartwrap">
            <div class="container">
                <div class="row mt">

                    <div class="col-lg-8 col-lg-offset-2 chart">
                        <div class="form-group">
                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                            <div class="">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        {{ form_widget(form.nature, {'attr': {'class': 'form-control','placeholder':'Nature de l\'acompte '}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        {{ form_widget(form.montant, {'attr': {'class': 'form-control','placeholder':'Montant Acompte'}}) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_widget(form.dateAcompt, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <a href="{{ path('chantier_show',{'id':id}) }}" class="btn btn-primary"> <i class="fa fa-angle-left" aria-hidden="true"></i>Retour</a>
                                        <button type="submit" class="btn btn-primary">Enregistrer <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                            {{ form_rest(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div><!-- /row -->
            </div><!-- /.container -->
        </div><!-- chartwrap -->
    </div>
    {% block javascript %}
        <script src="{{ asset('assets/js/jquery-1.10.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/bootstrap-datepicker-master/js/bootstrap-datepicker.js') }}"></script>
    {% endblock %}
{% endblock %}

